<div class="panel-header panel-header-sm">
    <h2>Cart</h2>
</div>

<section class="cart_section">
    <div class="container">
        <table>
            <tr>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            <tr>
                <td><img src="" alt=""></td>
                <td>400</td>
                <td>
                    <div class="content">
                        <button type="button" class="btnq"><i class="fa fa-plus"></i></button>
                        <span>1</span>
                        <button type="button" class="btnq"><i class="fa fa-minus"></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>