.rechercheBox {
  width: 17rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

.rechercheBox input {
  color: #FFF;
}



.iconRechBox i {
  position: relative;
  left: 0.5rem;
  color: #FFF;
}
